@model List<Practice1.Entity.EmployeeModel>

<div>
	<table class="table table-bordered table table-responsive">
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Age</th>
			<th>DepartMent</th>
			
		</tr>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Name</td>
				<td>@item.address</td>
				<td>@item.Age</td>
				<td>@item.DepartMent</td>
				
				<td><a asp-action="Delete" asp-controller="Home" asp-route-Id="@item.Id" class="btn btn-danger">Delete </a></td>
				<td><a asp-action="Edit" asp-controller="Home" asp-route-Id="@item.Id" class="btn btn-warning">Edit</a></td>
			</tr>

		}

	</table>
</div>
<a asp-action="Add" asp-controller="Home" class="btn btn-secondary">Add Employee+</a>